body{
    background-color: rgb(220, 250, 240);
}

h1{
    color: white;
    text-align: center;
}

h2{
    font-size: 29px;
    font-weight: bolder;
    
}

#player_desc{
    font-weight: 600;
}

h5{
    font-size: 20px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;

}